.welcome-banner{
    min-height: 500px;
    background-image: url("../assets/background-desk.jpg");
}
.search-box{
    margin-top: -150px;
}
.top-search,.left-search-box,.right-search-box,.bottom-search{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.left-search-box{
    padding-left: 10px;
}
.right-search-box{
    padding-right: 10px;
}
.InputBoxes{
    margin:auto;
}
.body{
    margin: auto;
}