@import "mobile.css" screen and (max-width: 768px);
@import "desktop.css" screen and (min-width: 769px);
@import "print.css" print;

div.banner {
    border: 15px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

div.banner p {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    vertical-align: middle;
}

div.banner > span > a {
    padding-left: 10px;
}

body, html {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

span.material-symbols-outlined {
    vertical-align: middle;
}



.welcome-banner{
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
.welcome-banner *{
    animation:fadeIn 3s;
}
.search-box{
    min-height: 200px;
    width: 50%;
    background-color: #FAF9F6;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.footerContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #9f9f9f;
    color: #fff;
    margin: 40px 0 0 0;
    font-size: 0.8em;
    padding: 10px;
}

footer>div {
    text-align: center;
}
