@import "mobile.css" screen and (max-width: 768px);
@import "desktop.css" screen and (min-width: 769px);
@import "print.css" print;

@media screen {
    body {
        background-color: #cecece;
    }

    div.banner {
        border: 15px;
        background-color: #949994;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-decoration: none;
    }

    #preAuth{
        flex-direction: row;
        justify-content: space-between;
    }

    div.banner p {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        display: inline;
        vertical-align: middle;
    }

    div.banner a {
        font-weight: bold;
        text-decoration: none;
    }

    div.banner>span>a {
        padding-left: 10px;
        display: inline;
    }

    body,
    html {
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

    * {
        box-sizing: border-box;
    }

    span.material-symbols-outlined {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }


    .welcome-banner {
        text-align: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        color: white;
        font-size: 20px;
    }

    .welcome-banner * {
        animation: fadeIn 3s;
    }

    .search-box {
        min-height: 200px;
        width: 50%;
        background-color: #FAF9F6;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        text-align: center;
        min-width: 270px;
    }

    .home-search input[type="submit"] {
        width: 80%;
        margin: 10px;
    }

    .home-search input,
    .home-search select {
        border-radius: 12px;
        width: 100%;
        padding: 10px;
    }

    .home-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-top {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        align-items: center;
        flex:50%;
    }

    /* .top-search,.left-search-box,.right-search-box,.bottom-search{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
} */
    #location {
        width: 100%;
    }

    .home-info {
        text-align: center;
        padding: 20px;
        font-size: 22px;
    }

    .intro-para {
        margin: auto;
        max-width: 1200px;
        font-size: 16px;
        line-height: 1.5;
    }

    .suggested-properties {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .arrow {
        font-size: 50px;
        padding: 20px;
        cursor: pointer;
        user-select: none;
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        border: 3px white solid;
        border-radius: 10%;
    }
    .leased-properties a{
        padding-top:20px;
        text-decoration: none;
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-height: 200px;
    }

    .property{
        width: 100%;
        height: 100%;
        background-color:#FAF9F6;
        border-radius: 12px;
    }
    #property-search{
        width: 100%;
    }
    .lease-image{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .lease-image img{
        width:75%;
        height: 75%;
        border-radius: 10%;
    }
    .lease-info{
        display: flex;
        flex-direction: column;
        flex:70%;
        padding-left: 10px;
        justify-content: center;
        padding-bottom: 10px;
    }
    .lease-info h3{
        text-align: center;
        margin-bottom: 0px;
    }
    

    .top-search-property{
        width:100%;
    }
    .left-search-box-property{
        display: flex;
        flex:100%;
    }
    .right-search-box-property{
        display: flex;
        flex:15%
    }
    .search-expand{
        display: flex;
        flex:5%;
        justify-content: flex-end;
    }
    .drop-down{
        font-size: 20px;
    }
    .hidden-search{
        width:100%;
        display: none;
    }
    .right-search-box-property .input-top{
        display: flex;
        flex: 95%
    }
    .rent-due,.payment-history,.payment button,.maintenance-history,.request button,.maintenance-request{
        background-color: #FAF9F6;
    }
    .rent a, .maintenance a{
        text-decoration: 0px;
    }
    .rent,.maintenance{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .maintenance-img{
        width: 80%;
        border-radius: 12px;
        margin-bottom: 20px;
    }
    .maintenance-img img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .rent-due{
        border:2px solid black;
        margin: 20px;
        border-radius: 12px;
    }
    .rent-due p{
        margin-left: 100px;
        margin-right: 100px;
    }
    .rent button, .maintenance button{
        width: 80%;
        max-width: 128px;
        padding: 10px;
        border-radius: 12px;
    }
    .payment-history, .maintenance-history,.maintenance-request{
        border:2px solid black;
        border-radius: 12px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        width: 80%;
        align-items: center;
        justify-content: center;
        max-height: 300px;
        max-width: 641px;
    }
    .maintenance-request{
        max-height: 500px;
    }
    .maintenance-request form{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 10px 0px;
        justify-content: center;
        align-content: center;
        width:80%;
        min-height: 300px;
    }
    .maintenance-request form *{
        border-radius: 12px
    }
    .maintenance-request form input, .maintenance-request form textarea{
        border: 2px black solid;
        resize: none;
        margin-bottom: 5px;
    }
    .maintenance-request form input{
        padding:5px 0px 5px 0px;
    }
    .maintenance-request form button{
        margin:5px 0px 5px 0px;
    }
    .maintenance-history{
        max-height: 50px;
    }
    .payments, .requests{
        border: 2px solid black;
        margin: 10px;
        height: 90%;
        width: 90%;
        border-radius: 12px;
        overflow-y:auto;
    }
    .payment,.request{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }
    .payment *,.request *{
        display: flex;
        flex: 33%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .payment button,.request button{
        border-radius: 0px;
        border: 0px;
        border-left: 2px solid black;
        flex:33%;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .bannerContainer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .banner {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .footerContainer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #949994;
        color: #000;
        margin: 40px 0 0 0;
        font-size: 0.8em;
        padding: 10px;
    }

    footer>div {
        text-align: center;
    }

    .material-symbols-outlined,
    a {
        color: #000;
    }
    .mainNav {
        position: absolute;
        left: -100%;
        top: -1px;
        transition: left 0.5s;
        background-color: #949994;
        color: #000;
        width: 100%;
    }

    .mainNav>menu {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .mainNav>menu li {
        border-bottom: 1px solid var(--header-colour);
        padding: 5px;
    }

    .mainNav>menu>li>a {
        display: inline-block;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        color: var(--header-colour);
        padding: 8px 0;
    }
    /* burger menu */
    .burger>.line {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 6px 0;
        transition: transform 0.4s;
    }

    /* Rotate first bar */
    .burger.changeBurger>.line:first-child {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .burger.changeBurger>.line:nth-child(2) {
        opacity: 0;
    }

    .burger.changeBurger>.line:last-child {
        transform: translate(0, -11px) rotate(45deg);
    }

    div>h1{
        text-align: center;
        text-decoration: underline;
    }

    .centre {
        text-align: center;
        display: block;
    }
}