.welcome-banner{
    min-height: 200px;
    background-image: url("../assets/background-mob.jpg");
}
.img-container{
    min-width: 200px;
    min-height: 100px;
    width: 400px;
    max-height: 267px;
    height: auto;
}
.leased-properties h2{
    text-align: center;
}
.property{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lease-image{
    max-width: 240px;
    padding-top: 10px;
}
.leased-properties a{
   max-width: 338px;
}
.top-search-property{
    display: flex;
    flex-direction: column;
  
}
.hidden-search{
    display: none;
    flex-direction: column;
}
.search-box-properties{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.errorMessage{
    text-align: center;
    padding-top: 50px;
}