**/*.conf

__pycache__/
*.pyc
*.pyo
.venv

# taken from https://gist.github.com/Yousha/a5514afd6cda8afba800f5af9f7115b4
##### Composer
composer.phar
vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock